    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        justify-items: center;
        align-items: center;
    }

    .container img{
        width: 250px;
        height: auto;
    }

    h1{
    text-align: center;
    color: gold;
    }

    body{
    background-color: black;
    border: 1px solid gold;
    }

    .pagination{
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
        border-color: gold;
    }